<div class="page-header">
  <h3><%= @dish.name %></h3>
</div>

<!-- A Dish has many bookmarks -->

<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%= @dish.name %> at...
        </h4>
        
        <% @dish.bookmarks.each do |bm| %>
        <div class="list-group-item">
          <a href="/bookmarks/<%= bm.id %>">
            <%= bm.notes %>
          </a>
          <div class="btn-group btn-group-xs float-right">
            <a href="/bookmarks/<%= bm.id %>"></a>
            <a href="/bookmarks/<%= bm.id %>/edit"></a>
            <a href="/delete_bookmark/<%= bm.id %>" rel="nofollow"></a>
          </div>
        </div>
      <% end %>
      
      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
          
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
           
          <input type="hidden" name="dish_id" value="<%= @dish.id %>">
          
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
           
          <div class="form-group">
            <label for="venue_id" class="control-label">
              Venue
            </label>
            
          <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
          </div>
          
          <div class="form-group">
          <label for="notes" class="control-label">
            Notes
          </label>

          <textarea id="notes" name="notes" placeholder="Dishes Notes" class="form-control" rows="3"></textarea>
          </div>

           <button class="btn btn-primary btn">
                <i class="fa fa-heart"></i>
              </button>
        </form>
      </li>
      
      </div>
    </div>
  </div>
</div>

      <!--A Dish has many specialists -->

<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
      <div class="card-header">
        <h1 class="card-title">
       Favorites
      </li>
</h1>
      <% @dish.specialists.each do |venue| %>
        
        <p class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.name %>
          </a>
          <div class="btn-group btn-group-xs float-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </p>
      <% end %>
    </ul>
  </div>
  </div>
</div>


